
.MainContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 10px;
}

.SeeDetailsContainer {
    display: grid;

    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 70%;


    column-gap: 35px;
    row-gap: 20px;

    justify-content: center;

    width: 80%;
    height: 100vh;

}

/* ITEM 1 */
.SeeDetailsContainer img {
    align-self: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 40px #00212d;
    filter: brightness(1) saturate(90%);
    transition: transform 0.6s, box-shadow 0.6s, filter 0.4s;

    object-fit: fill;
}

/* ITEM 2 */

.SupeDetails {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0px 0px 20px #00212d;
    filter: brightness(1) saturate(90%);
    transition: transform 0.6s, box-shadow 0.6s, filter 0.4s;
    background-color: #262626;

    padding: 10px;


    width: 100%;
    height: 100%;
}

.SupeDetails:hover {
    box-shadow: 0px 0px 40px #f9b916;
    transform: scale(1.01);
    filter: brightness(1.2) saturate(110%);
    transition: transform 0.2s, box-shadow 0.2s;
}


.SupeDetails h1 {
    font-size: 3em;
    padding: 10px;
    font-family: 'Permanent Marker', sans-serif;
}

.SupeDetails p {
    font-size: 1.2em;
    padding: 10px;
    font-family: sans-serif;
    align-self: flex-start;
}

.SupeDetails span {
    padding: 10px;
    font-family: sans-serif;
    align-self: flex-end;
}

/* ITEM 3 */

.ComicsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 10px;
    box-shadow: 0px 0px 20px #00212d;
    filter: brightness(1) saturate(90%);
    transition: transform 0.6s, box-shadow 0.6s, filter 0.4s;
    background-color: #262626;

    padding: 10px;

    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-y: scroll;
}

.ComicsContainer h2 {
    text-decoration: underline;
    margin: 10px auto;
}

.ComicsContainer li {
    margin: 15px;
    margin-left: 30px;
}


/* ITEM 4 */

.SeriesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-y: scroll;

    border-radius: 10px;
    box-shadow: 1px 1px 20px #00212d;
    filter: brightness(1) saturate(90%);
    transition: transform 0.6s, box-shadow 0.6s, filter 0.4s;
    background-color: #262626;
}

.SeriesContainer h2 {
    margin: 10px auto;
    text-decoration: underline;
}

.SeriesContainer ul {
    list-style-type: square;
}

.SeriesContainer li {
    margin: 15px;
    margin-left: 30px;
}

/*  */


.SeriesContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 10px
}

.SeriesContainer::-webkit-scrollbar
{
    width: 6px;
	background-color: #F5F5F5;
    border-radius: 10px
}

.SeriesContainer::-webkit-scrollbar-thumb
{
    background-color: #ee0000;
    border-radius: 10px
}


.ComicsContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 10px
}

.ComicsContainer::-webkit-scrollbar
{
    width: 6px;
	background-color: #F5F5F5;
    border-radius: 10px
}

.ComicsContainer::-webkit-scrollbar-thumb
{
    background-color: #ee0000;
    border-radius: 10px
}
