.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: #3c4146;

    img {
        width: 8%;
        height: auto;
        margin-left: 100px;
    }
    form {
        input {
            width: 250px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #3c4146;
            padding-left: 10px;
        }
        button {
            width: 100px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #3c4146;
            background-color: #178bff;
            margin-right: 125px;
        }
        button:hover {
            width: 100px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #3c4146;
            background-color: #004284;
            margin-right: 125px;
        }
    }
}


.ratingSystemButton {
    font-family: "Permanent Marker", sans-serif;
    width: 10%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: #454545;
    margin-right: 30%;
    padding: 10px;

    box-shadow: 1px 1px 40px #00212d;
    filter: brightness(1) saturate(90%);
    transition: transform 0.6s, box-shadow 0.6s, filter 0.4s;

    &:hover {
        box-shadow: 1px 1px 40px #f9b916;
        transform: scale(1.03);
        filter: brightness(1.2) saturate(110%);
        transition: transform 0.2s, box-shadow 0.2s;
    }
}

.HomeButton {
    background-color: blue;
}
